.main-container {
    padding:20px;
    margin:10px;
}
.show-grid{
    padding:5px;
    margin:5px 0;
    border-top: 1px solid rgba(0,0,0,0.1)
    
    
}
.dropzone-area {
    width: 100%;
    height: 100px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    background: #c4c8cc21;
    text-align: center;
}
.dropzone-container :hover {
   background: rgba(104, 104, 104, 0.342);
   box-shadow: 1px 0px 0px 1px rgba(0,0,0,0.4);
 }


 /* animation */
 .timeline-wrapper {
     width: 95%;
     position: absolute;
     z-index: -1;
 }
.timeline-item {
    background: transparent;
    margin: 0 auto;
    max-width: 100%;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -100px 0
    }
    100%{
        background-position: 1800px 0
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, rgb(192, 186, 186) 18%, #b4afaf 33%);
    background-size: 100% 104px;
    height: 96px;
    position: relative;
    opacity: 0.1;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 40%;
    right: 0;
}

.background-masker.subheader-right {
    left: 80%;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 50%;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 80%;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 100%;
    top: 88px;
}

.progress {
    height:2px;
    margin-bottom:10px;
}
.btn-toolbar{
    padding:4px 0;
}